<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base href="http://124.222.56.141">
    <title>详情页</title>
    <link rel="stylesheet" type="text/css" href="../static/mall/index/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/mall/index/css/detail.css"/>
</head>

<body>
<!------------------------------head------------------------------>
<div class="head">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="index.html"><img src="../static/mall/index/img/logo.png"/></a></h1>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" id="searchText" placeholder="热门搜索：华为"/>
                    <input type="button" onclick="search()"/>
                </form>
                <p class="fl">
                    <span th:if="${session.loginUser == null}">
                        <a href="http://localhost:8000/api/auth/login">你好，请登录</a>
                        <a href="http://localhost:8000/api/auth/register">免费注册</a>
                    </span>
                    <span th:if="${session.loginUser != null}">
                        <a th:text="${session.loginUser.nickname}"></a>
                        <a href="http://localhost:8000/api/auth/login/logout">退出</a>
                        <a href="http://localhost:88/api/order/index/">我的订单</a>
                    </span>
                </p>
                <div class="btn fl clearfix">
                    <a href="#"><img src="../static/mall/index/img/grzx.png"/></a>
                    <a href="http://localhost:88/api/cart/">
                        <img src="../static/mall/index/img/gwc.png"/>
                    </a>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott" style="margin-left: 30%;">
            <li><a href="http://localhost:88/api/product/">首页</a></li>
            <li>
                <a href="javascript:void(0)">所有商品</a>
                <div class="sList">
                    <div class="wrapper  clearfix">
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav1.jpg"/></dt>
                                <dd>电脑办公</dd>
                            </dl>
                        </a>
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav2.jpg"/></dt>
                                <dd>食品</dd>
                            </dl>
                        </a>
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav3.jpg"/></dt>
                                <dd>创意装饰</dd>
                            </dl>
                        </a>
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav6.jpg"/></dt>
                                <dd>美妆</dd>
                            </dl>
                        </a>
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav7.jpg"/></dt>
                                <dd>其他</dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="flowerDer.html">秒杀</a>
            </li>
            <li>
                <a href="decoration.html">金融</a>
            </li>
        </ul>
    </div>
</div>
<!-----------------------商品详情------------------------------>
<div class="detCon">
    <div class="proDet wrapper">
        <div class="proCon clearfix">
            <div class="proImg fl">
                <img class="det" th:src="${item.info.skuDefaultImg}">
            </div>
            <div class="fr intro">
                <div class="title">
                    <h4 th:text="${item.info.skuTitle}">【最家】非洲菊仿真花干花</h4>
                    <p>【破损补寄】【适合放室内、卧室、书房、餐桌、办公室、客厅、电视柜等地方】【无理由退换货】【包邮】【白色现代简约花瓶】</p>
                    <span th:text="${item.info.price}">￥59.90</span>
                </div>
                <div class="proIntro">
                    <div th:each="attr:${item.saleAttr}">
                        <p>选择[[${attr.attrName}]]</p>
                        <div class="smallImg clearfix categ" style="margin-top: 10px">
                            <p class="fl" th:each="value :${attr.attrValues}">
                                <a id="sku_attr_value" style="color: #a10000" th:attr="skus = ${value.skuIds},
                                class=${#lists.contains(#strings.listSplit(value.skuIds,','),
                                item.info.skuId.toString())?'sku_attr_value checked':'sku_attr_value'}">
                                    [[${value.attrValue}]] </a>
                            </p>
                        </div>
                    </div>

                    <p th:if="${!item.hasStock}">商品无货</p>
                    <div style="color: red" th:if="${item.seckillSkuDTO != null}">
                        <span th:if="${#dates.createNow().getTime() < item.seckillSkuDTO.startTime}">
                                商品将会在[[${#dates.format(new java.util.Date(item.seckillSkuDTO.startTime),"yyyy-MM-dd HH:mm:ss")}]]进行秒杀
                            </span>
                        <span th:if="${#dates.createNow().getTime() >= item.seckillSkuDTO.startTime && #dates.createNow().getTime() <= item.seckillSkuDTO.endTime}">
                                秒杀价  [[${#numbers.formatDecimal(item.seckillSkuDTO.seckillPrice,1,2)}]]
                            </span>
                    </div>
                    <div class="num clearfix">
                        <img class="fl sub" src="../static/mall/index/img/temp/sub.jpg">
                        <span class="fl" contentEditable="true" id="productNum">1</span>
                        <img class="fl add" src="../static/mall/index/img/temp/add.jpg">
                    </div>
                </div>
                <div class="btns clearfix"
                     th:if="${item.seckillSkuDTO == null || !(#dates.createNow().getTime() >= item.seckillSkuDTO.startTime && #dates.createNow().getTime() <= item.seckillSkuDTO.endTime)}">
                    <a class="addToCart" th:attr="skuId=${item.info.skuId}">
                        <p class="buy">加入购物车</p>
                    </a>
                </div>
                <div class="btns clearfix"
                     th:if="${item.seckillSkuDTO != null && (#dates.createNow().getTime() >= item.seckillSkuDTO.startTime && #dates.createNow().getTime() <= item.seckillSkuDTO.endTime)}">
                    <a class="seckill"
                       th:attr="skuId=${item.info.skuId},sessionId=${item.seckillSkuDTO.promotionSessionId},code=${item.seckillSkuDTO.randomCode}">
                        <p class="buy">立即抢购</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 商品评论 -->
<div class="introMsg wrapper clearfix">
    <div class="msgL fl">
        <div class="msgTit clearfix">
            <a class="on">商品详情</a>
            <a>所有评价</a>
        </div>
        <div class="msgAll">
            <div class="msgImgs">
                <img th:src="${item.desc.decript}" style="width: 937px;">
            </div>
            <div class="eva">
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per01.jpg">
                    <div class="perR fl">
                        <p>馨***呀</p>
                        <p>不好意思评价晚了，产品很好，价格比玻璃品便宜，没有我担心的杂色，发货快，包装好，全5分</p>
                        <div class="clearfix">
                            <p><img src="../static/mall/index/img/temp/eva01.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva02.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva03.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva04.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva05.jpg"></p>
                        </div>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per02.jpg">
                    <div class="perR fl">
                        <p>么***周</p>
                        <p>花瓶超级棒，我看图以为是光面的，收货发现是磨砂，但感觉也超有质感，很喜欢。磨砂上面还有点纹路，不过觉得挺自然的，不影响美观。包装也很好，绝对不会磕碎碰坏，好评！</p>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per01.jpg">
                    <div class="perR fl">
                        <p>馨***呀</p>
                        <p>不好意思评价晚了，产品很好，价格比玻璃品便宜，没有我担心的杂色，发货快，包装好，全5分</p>
                        <div class="clearfix">
                            <p><img src="../static/mall/index/img/temp/eva01.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva02.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva03.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva04.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva05.jpg"></p>
                        </div>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per02.jpg">
                    <div class="perR fl">
                        <p>么***周</p>
                        <p>花瓶超级棒，我看图以为是光面的，收货发现是磨砂，但感觉也超有质感，很喜欢。磨砂上面还有点纹路，不过觉得挺自然的，不影响美观。包装也很好，绝对不会磕碎碰坏，好评！</p>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per01.jpg">
                    <div class="perR fl">
                        <p>馨***呀</p>
                        <p>不好意思评价晚了，产品很好，价格比玻璃品便宜，没有我担心的杂色，发货快，包装好，全5分</p>
                        <div class="clearfix">
                            <p><img src="../static/mall/index/img/temp/eva01.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva02.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva03.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva04.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva05.jpg"></p>
                        </div>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per02.jpg">
                    <div class="perR fl">
                        <p>么***周</p>
                        <p>花瓶超级棒，我看图以为是光面的，收货发现是磨砂，但感觉也超有质感，很喜欢。磨砂上面还有点纹路，不过觉得挺自然的，不影响美观。包装也很好，绝对不会磕碎碰坏，好评！</p>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per01.jpg">
                    <div class="perR fl">
                        <p>馨***呀</p>
                        <p>不好意思评价晚了，产品很好，价格比玻璃品便宜，没有我担心的杂色，发货快，包装好，全5分</p>
                        <div class="clearfix">
                            <p><img src="../static/mall/index/img/temp/eva01.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva02.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva03.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva04.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva05.jpg"></p>
                        </div>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per02.jpg">
                    <div class="perR fl">
                        <p>么***周</p>
                        <p>花瓶超级棒，我看图以为是光面的，收货发现是磨砂，但感觉也超有质感，很喜欢。磨砂上面还有点纹路，不过觉得挺自然的，不影响美观。包装也很好，绝对不会磕碎碰坏，好评！</p>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per01.jpg">
                    <div class="perR fl">
                        <p>馨***呀</p>
                        <p>不好意思评价晚了，产品很好，价格比玻璃品便宜，没有我担心的杂色，发货快，包装好，全5分</p>
                        <div class="clearfix">
                            <p><img src="../static/mall/index/img/temp/eva01.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva02.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva03.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva04.jpg"></p>
                            <p><img src="../static/mall/index/img/temp/eva05.jpg"></p>
                        </div>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
                <div class="per clearfix">
                    <img class="fl" src="../static/mall/index/img/temp/per02.jpg">
                    <div class="perR fl">
                        <p>么***周</p>
                        <p>花瓶超级棒，我看图以为是光面的，收货发现是磨砂，但感觉也超有质感，很喜欢。磨砂上面还有点纹路，不过觉得挺自然的，不影响美观。包装也很好，绝对不会磕碎碰坏，好评！</p>
                        <p><span>2016年12月27日08:31</span><span>颜色分类：大中小三件套（不含花）</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 为你推荐 -->
    <div class="msgR fr">
        <h4>为你推荐</h4>
        <div class="seeList">
            <a href="#">
                <dl>
                    <dt><img src="../static/mall/index/img/temp/see01.jpg"></dt>
                    <dd>【最家】复古文艺风玻璃花瓶</dd>
                    <dd>￥193.20</dd>
                </dl>
            </a>
            <a href="#">
                <dl>
                    <dt><img src="../static/mall/index/img/temp/see02.jpg"></dt>
                    <dd>【最家】复古文艺风玻璃花瓶</dd>
                    <dd>￥193.20</dd>
                </dl>
            </a>
            <a href="#">
                <dl>
                    <dt><img src="../static/mall/index/img/temp/see03.jpg"></dt>
                    <dd>【最家】复古文艺风玻璃花瓶</dd>
                    <dd>￥193.20</dd>
                </dl>
            </a>
            <a href="#">
                <dl>
                    <dt><img src="../static/mall/index/img/temp/see04.jpg"></dt>
                    <dd>【最家】复古文艺风玻璃花瓶</dd>
                    <dd>￥193.20</dd>
                </dl>
            </a>
        </div>
    </div>
</div>
<!-- 猜你喜欢 -->
<div class="like">
    <h4>猜你喜欢</h4>
    <div class="bottom">
        <div class="hd">
            <span class="prev"><img src="../static/mall/index/img/temp/prev.png"></span>
            <span class="next"><img src="../static/mall/index/img/temp/next.png"></span>
        </div>
        <div class="imgCon bd">
            <div class="likeList clearfix">
                <div>
                    <a href="proDetail.html">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like01.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                    <a href="proDetail.html">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like02.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                    <a href="proDetail.html">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like03.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                    <a href="proDetail.html">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like04.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                    <a href="proDetail.html" class="last">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like05.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                </div>
                <div>
                    <a href="proDetail.html">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like01.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                    <a href="proDetail.html">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like02.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                    <a href="proDetail.html">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like03.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                    <a href="proDetail.html">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like04.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                    <a href="proDetail.html" class="last">
                        <dl>
                            <dt><img src="../static/mall/index/img/temp/like05.jpg"></dt>
                            <dd>【最家】复古文艺风玻璃花瓶</dd>
                            <dd>￥193.20</dd>
                        </dl>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="http://localhost:88/api/cart/">
        <dl class="goCart">
            <dt><img src="../static/mall/index/img/gt1.png"/></dt>
            <dd>去购<br/>物车</dd>
            <span>1</span>
        </dl>
    </a>
    <a href="javascript:void(0)" class="dh">
        <dl>
            <dt><img src="../static/mall/index/img/gt2.png"/></dt>
            <dd>联系<br/>客服</dd>
        </dl>
    </a>
    <a href="javascript:void(0)">
        <dl>
            <dt><img src="../static/mall/index/img/gt3.png"/></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a class="toptop" style="display: none;">
        <dl>
            <dt><img src="../static/mall/index/img/gt4.png"/></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
    <p>400-800-8200</p>
</div>
<div class="msk"></div>
<!--footer-->
<div class="footer">
    <div class="top">
        <div class="wrapper">
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/index/img/foot1.png"/></a>
                <span class="fl">7天无理由退货</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/index/img/foot2.png"/></a>
                <span class="fl">15天免费换货</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/index/img/foot3.png"/></a>
                <span class="fl">满599包邮</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/index/img/foot4.png"/></a>
                <span class="fl">手机特色服务</span>
            </div>
        </div>
    </div>
    <p class="dibu">最家家居&copy;2022-2099公司版权所有 京ICP备080100-44备0000111000号<br/>
        违法和不良信息举报电话：188-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
</div>
</body>
<script src="../static/mall/index/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mall/index/js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mall/index/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mall/index/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    jQuery(".bottom").slide({
        titCell: ".hd ul",
        mainCell: ".bd .likeList",
        autoPage: true,
        autoPlay: false,
        effect: "leftLoop",
        autoPlay: true,
        vis: 1
    });

    /**************切换商品***************/
    $(".sku_attr_value").click(function () {
        var skus = new Array();
        // 1.获取所有加了checked的属性
        // 1.1 点击的元素加上自定义属性
        $(this).addClass("clicked");
        var curr = $(this).attr("skus").split(",");
        // 当前被点击的所有sku组合的数组放进去
        skus.push(curr)
        // 去掉同一行所有的checked
        $(this).parent().parent().find(".sku_attr_value").removeClass("checked");

        $("a[class='sku_attr_value checked']").each(function () {
            skus.push($(this).attr("skus").split(","));
        });
        // 2.取出他们的交集 得到skuId 调用filter方法的一定是jQuery元素
        var filterEle = skus[0];
        for (var i = 1; i < skus.length; i++) {
            filterEle = $(filterEle).filter(skus[i]);
        }
        console.log(filterEle[0])
        // 3.跳转
        location.href = "http://localhost:88/api/product/item/" + filterEle[0] + ".html";
    });

    /**************添加购物车***************/
    $(".addToCart").click(function () {
        let skuId = $(this).attr("skuId");
        const num = document.getElementById("productNum").innerHTML;
        location.href = "http://localhost:88/api/cart/addToCart?skuId=" + skuId + "&num=" + num;
        return false;
    });

    /**************数量加减***************/
    $(".num .sub").click(function () {
        var num = parseInt($(this).siblings("span").text());
        if (num <= 1) {
            $(this).attr("disabled", "disabled");
        } else {
            num--;
            $(this).siblings("span").text(num);
            //获取除了货币符号以外的数字
            var price = $(this).parents(".number").prev().text().substring(1);
            //单价和数量相乘并保留两位小数
            $(this).parents(".th").find(".sAll").text('￥' + (num * price).toFixed(2));
            jisuan();
            zg();
        }
    });
    $(".num .add").click(function () {
        var num = parseInt($(this).siblings("span").text());
        if (num >= 5) {
            confirm("限购5件");
        } else {
            num++;
            $(this).siblings("span").text(num);
            var price = $(this).parents(".number").prev().text().substring(1);
            $(this).parents(".th").find(".sAll").text('￥' + (num * price).toFixed(2));
            jisuan();
            zg();
        }
    });

    function search() {
        const keyword = $("#searchText").val();
        window.location.href = "http://localhost:88/api/search/?keyword=" + keyword;
    }
</script>

</html>