<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base href="http://124.222.56.141/static/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--==== favicon css ====-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon"/>
    <!-- josefin font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <title>秒杀</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- menu -->
    <link rel="stylesheet" href="assets/css/menu.css">
    <!-- swiper slider -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- venobox -->
    <link rel="stylesheet" href="assets/css/venobox.css">
    <!-- select -->
    <link rel="stylesheet" href="assets/css/select2.min.css">
    <!-- jquery ui -->
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <!-- style -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- responsive -->
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
<!-- 启动预加载器区域 -->
<div class="preloader">
    <div class="preloader-orbit-loading">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
    </div>
</div>

<!-- 开始滚动顶部按钮 -->
<div class="scroll-top">
    <button class="top-to-btn">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>

<!-- header -->
<header>
    <!-- 开始菜单栏区域 -->
    <section class="inner-page menubar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-lg-2 col-md-4 col-sm-5 col-6">
                            <div class="logo">
                                <a href="seckill.html">
                                    <img src="assets/images/home1/logo.png" alt="Logo"/>
                                </a>
                            </div>
                        </div>
                        <!-- 主菜单 -->
                        <div class="col-lg-8 col-md-4 col-sm-2 col-6">
                            <!-- desktop-menu -->
                            <nav class="navbar position-static justify-content-center desktop-menu p-0">
                                <div class="main-menu">
                                    <ul class="menu">
                                        <li>
                                            <a href="javascript:void(0)">Home</a>
                                        </li>
                                        <li><a href="about.html">About</a></a></li>
                                        <li><a href="javascript:void(0)">page</a>
                                            <ul class="submenu-list">
                                                <li><a href="about.html">about</a></li>
                                                <li>
                                                    <a href="javascript:void(0)">account</a>
                                                    <ul>
                                                        <li><a href="account.html">account</a></li>
                                                        <li><a href="login.html">login</a></li>
                                                        <li><a href="register.html">register</a></li>
                                                        <li><a href="my-account.html">my account</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="coming-soon.html">coming soon</a></li>
                                                <li><a href="contact.html">contact</a></li>
                                                <li><a href="404.html">404 error</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">shop</a>
                                        </li>
                                        <li><a href="javascript:void(0)">blog</a>
                                            <ul class="submenu-list">
                                                <li>
                                                    <a href="javascript:void(0)">grid</a>
                                                    <ul>
                                                        <li><a href="blog-2-column.html">blog 2 columns</a></li>
                                                        <li><a href="blog-3-column.html">blog 3 columns</a></li>
                                                        <li><a href="blog-4-column.html">blog 4 columns</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">list</a>
                                                    <ul>
                                                        <li><a href="blog-list-left.html">blog list left</a></li>
                                                        <li><a href="blog-list-left-sidebar.html">list left
                                                            sidebar</a>
                                                        </li>
                                                        <li><a href="blog-list-right.html">blog list right</a></li>
                                                        <li><a href="blog-list-right-sidebar.html">list right
                                                            sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">details</a>
                                                    <ul>
                                                        <li><a href="blog-detail-right.html">details left
                                                            sidebar</a>
                                                        </li>
                                                        <li><a href="blog-detail-left.html">details right
                                                            sidebar</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">masonry</a>
                                                    <ul>
                                                        <li><a href="blog-masonry-2-column.html">masonry 2
                                                            columns</a>
                                                        </li>
                                                        <li><a href="blog-masonry-3-column.html">masonry 3
                                                            columns</a>
                                                        </li>
                                                        <li><a href="blog-masonry-4-column.html">masonry 4
                                                            columns</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact us</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- mobile menu -->
                            <nav class="navbar p-0 mobile-menu position-static">
                                <div class="header-menu position-static">
                                    <ul class="menu">
                                        <li class="active"><a href="seckill.html">home</a>
                                        </li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="javascript:void(0)">pages</a>
                                            <ul>
                                                <li><a href="about.html">about</a></li>
                                                <li>
                                                    <a href="javascript:void(0)">account</a>
                                                    <ul>
                                                        <li><a href="account.html">account</a></li>
                                                        <li><a href="login.html">login</a></li>
                                                        <li><a href="register.html">register</a></li>
                                                        <li><a href="my-account.html">my account</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="coming-soon.html">coming soon</a></li>
                                                <li><a href="contact.html">contact</a></li>
                                                <li><a href="404.html">404 error</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">shop</a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">collections</a>
                                                    <ul>
                                                        <li><a href="shop-4-column.html">spring summer
                                                            collections</a>
                                                        </li>
                                                        <li><a href="shop-3-column.html">fall winter collections</a>
                                                        </li>
                                                        <li><a href="shop-2-column.html">Boishakhi collections</a>
                                                        </li>
                                                        <li><a href="shop-5-column.html">puja collections</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">shop grid</a>
                                                    <ul>
                                                        <li><a href="shop-2-column.html">grid 2 columns</a></li>
                                                        <li><a href="shop-3-column.html">grid 3 columns</a></li>
                                                        <li><a href="shop-4-column.html">grid 4 columns</a></li>
                                                        <li><a href="shop-5-column.html">grid 5 columns</a></li>
                                                        <li><a href="shop-6-column.html">grid 6 columns</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">shop pages</a>
                                                    <ul>
                                                        <li><a href="shop-list-left.html">shop list left</a></li>
                                                        <li><a href="shop-list-left-sidebar.html">shop list left
                                                            sidebar</a></li>
                                                        <li><a href="shop-list-right.html">shop list right</a></li>
                                                        <li><a href="shop-list-right-sidebar.html">shop list right
                                                            sidebar</a></li>
                                                        <li><a href="shop-detail-left.html">shop details left</a>
                                                        </li>
                                                        <li><a href="shop-detail-right.html">shop details right</a>
                                                        </li>
                                                        <li><a href="shop-detail-tab-left.html">shop details tab
                                                            left</a></li>
                                                        <li><a href="shop-detail-tab-right.html">shop details tab
                                                            right</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">other pages</a>
                                                    <ul>
                                                        <li><a href="cart.html">cart</a></li>
                                                        <li><a href="checkout.html">checkout</a></li>
                                                        <li><a href="compare.html">compare</a></li>
                                                        <li><a href="category.html">category</a></li>
                                                        <li><a href="javascript:void(0)">wishlist</a></li>
                                                        <li><a href="tracking.html">tracking</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">blog</a>
                                            <ul class="submenu-list">
                                                <li>
                                                    <a href="javascript:void(0)">grid</a>
                                                    <ul>
                                                        <li><a href="blog-2-column.html">blog 2 columns</a></li>
                                                        <li><a href="blog-3-column.html">blog 3 columns</a></li>
                                                        <li><a href="blog-4-column.html">blog 4 columns</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">list</a>
                                                    <ul>
                                                        <li><a href="blog-list-left.html">blog list left</a></li>
                                                        <li><a href="blog-list-left-sidebar.html">list left
                                                            sidebar</a>
                                                        </li>
                                                        <li><a href="blog-list-right.html">blog list right</a></li>
                                                        <li><a href="blog-list-right-sidebar.html">list right
                                                            sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">details</a>
                                                    <ul>
                                                        <li><a href="blog-detail-right.html">details left
                                                            sidebar</a>
                                                        </li>
                                                        <li><a href="blog-detail-left.html">details right
                                                            sidebar</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">masonry</a>
                                                    <ul>
                                                        <li><a href="blog-masonry-2-column.html">masonry 2
                                                            columns</a>
                                                        </li>
                                                        <li><a href="blog-masonry-3-column.html">masonry 3
                                                            columns</a>
                                                        </li>
                                                        <li><a href="blog-masonry-4-column.html">masonry 4
                                                            columns</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact us</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- 通知 -->
                        <div class="col-lg-2 col-md-4 col-sm-5 right-col">
                            <div class="notification">
                                <ul class="d-flex justify-content-end">
                                    <li>
                                        <a href="account.html">
                                            <i class="flaticon-user-1"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="flaticon-shopping-cart-1"></i>
                                                <span class="quantity">02</span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <div class="heading d-flex justify-content-between">
                                                    <h5>3 items</h5>
                                                    <a href="cart.html">view cart</a>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <div class="d-flex position-relative">
                                                            <img src="assets/images/home1/product/img1.jpg"
                                                                 alt="Product Image"/>
                                                            <div class="text">
                                                                <a href="shop-detail-left.html">
                                                                    <h5>Oversize Cotton Dress</h5>
                                                                </a>
                                                                <p>1 X $78.00</p>
                                                                <a href="javascript:void(0)" class="icon">
                                                                    <i class="far fa-times-circle"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex position-relative">
                                                            <img src="assets/images/home1/product/img2.jpg"
                                                                 alt="Product Image"/>
                                                            <div class="text">
                                                                <a href="shop-detail-left.html">
                                                                    <h5>Floral Mini Skirt</h5>
                                                                </a>
                                                                <p>2 X $88.00</p>
                                                                <a href="javascript:void(0)" class="icon">
                                                                    <i class="far fa-times-circle"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex position-relative">
                                                            <img src="assets/images/home1/product/img3.jpg"
                                                                 alt="Product Image"/>
                                                            <div class="text">
                                                                <a href="shop-detail-left.html">
                                                                    <h5>Flared ribbed trousers</h5>
                                                                </a>
                                                                <p>1 X $78.00</p>
                                                                <a href="javascript:void(0)" class="icon">
                                                                    <i class="far fa-times-circle"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="total d-flex justify-content-between">
                                                    <p>total</p>
                                                    <p>$499.00</p>
                                                </div>
                                                <div class="check">
                                                    <a href="checkout.html" class="button-style1">checkout <span
                                                            class="btn-dot"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<!-- banner -->
<section class="inner-page banner" data-img="assets/images/inner/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>秒杀</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="seckill.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">seckill</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- category -->
<section class="shop-page">
    <div class="container">
        <div class="row">
            <div class="col-xxl-10 offset-xxl-1">
                <div class="title d-flex justify-content-between align-items-center">
                    <p>Showing 1–8 of 20 Results</p>
                    <div class="sort d-flex align-items-center">
                        <p>Sort by</p>
                        <label>
                            <select class="select">
                                <option value="1">综合</option>
                                <option value="2">销量</option>
                                <option value="3">最新</option>
                                <option value="4">趋势</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xxl-10 offset-xxl-1 home1 trending">
                <div class="row">
                    <!--商品-->
                    <div class="col-lg-3 col-md-6 col-sm-6" th:each="seckillSku:${seckillSkus}">
                        <div class="single">
                            <span class="offer">-29%</span>
                            <div class="image">
                                <a href="shop-detail-left.html">
                                    <img th:src="${seckillSku.skuInfoDTO.skuDefaultImg}" class="img-main" alt="Product">
                                </a>
                                <a href="shop-detail-left.html">
                                    <img th:src="${seckillSku.skuInfoDTO.skuDefaultImg}" class="img-hover" alt="Product">
                                </a>
                            </div>
                            <div class="content">
                                <a href="shop-detail-left.html">
                                    <h6 th:text="${seckillSku.skuInfoDTO.skuTitle}"></h6>
                                </a>
                                <p>
                                    <span th:text="'￥' + ${seckillSku.skuInfoDTO.price}"></span>
                                    <a th:text="'￥' + ${seckillSku.seckillPrice}"></a>
                                </p>
                                <ul class="rating d-flex">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <div class="action">
                                    <ul class="d-flex">
                                        <li>
                                            <a href="cart.html">
                                                <i class="flaticon-shopping-cart-1"></i>
                                                <p class="my-tooltip">
                                                    add to cart
                                                </p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                               data-bs-target="#exampleModal">
                                                <i class="flaticon-visibility"></i>
                                                <p class="my-tooltip">
                                                    quick view
                                                </p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="flaticon-refresh"></i>
                                                <p class="my-tooltip">
                                                    compare
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 分页 -->
                    <div class="col-lg-12">
                        <div class="pages">
                            <ul class="d-flex justify-content-center">
                                <li><a href="javascript:void(0)"><i class="flaticon-chevron-1"></i></a></li>
                                <li><a href="javascript:void(0)" class="active">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)"><i class="flaticon-chevron"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- overview -->
<section class="home1 overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bg">
                    <div class="bg-inner">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="item d-flex align-items-center justify-content-center">
                                    <div class="icon">
                                        <i class="flaticon-fire-truck"></i>
                                    </div>
                                    <div class="text">
                                        <h5>free shipping</h5>
                                        <h6>Orders over $250</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="item d-flex align-items-center justify-content-center">
                                    <div class="icon">
                                        <i class="flaticon-cards"></i>
                                    </div>
                                    <div class="text">
                                        <h5>quick payment</h5>
                                        <h6>100% secure payment</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="item d-flex align-items-center justify-content-center">
                                    <div class="icon">
                                        <i class="flaticon-gift-box"></i>
                                    </div>
                                    <div class="text">
                                        <h5>gift certificate</h5>
                                        <h6>Buy now $500</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="item d-flex align-items-center justify-content-center last-item">
                                    <div class="icon">
                                        <i class="flaticon-customer-service"></i>
                                    </div>
                                    <div class="text">
                                        <h5>24/7 support</h5>
                                        <h6>Quick Support</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer -->
<footer class="footer">
    <!-- footer-top -->
    <section class="footer-top pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="content">
                        <div class="title">
                            <h5>about us</h5>
                        </div>
                        <p>Can only be used for learning
                        </p>
                        <div class="follow">
                            <h6>follow us</h6>
                            <ul class="d-flex social">
                                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-skype"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="content">
                        <div class="title">
                            <h5>my account</h5>
                        </div>
                        <ul>
                            <li><a href="my-account.html">my account</a></li>
                            <li><a href="javascript:void(0)">wishlist</a></li>
                            <li><a href="login.html">login</a></li>
                            <li><a href="contact.html">address</a></li>
                            <li><a href="shop-4-column.html">new products</a></li>
                            <li><a href="faq.html">faq</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="content">
                        <div class="title">
                            <h5>support</h5>
                        </div>
                        <ul>
                            <li><a href="javascript:void(0)">help</a></li>
                            <li><a href="contact.html">contact us</a></li>
                            <li><a href="javascript:void(0)">feedback</a></li>
                            <li><a href="javascript:void(0)">customer service</a></li>
                            <li><a href="javascript:void(0)">reservation</a></li>
                            <li><a href="javascript:void(0)">store locations</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="content">
                        <div class="title">
                            <h5>contact us</h5>
                        </div>
                        <ul class="address">
                            <li class="d-flex align-items-center">
                                <div class="icon">
                                    <i class="flaticon-phone"></i>
                                </div>
                                <div class="text">
                                    <h6>phone</h6>
                                    <p>1852433xxxx</p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="icon">
                                    <i class="flaticon-mail"></i>
                                </div>
                                <div class="text">
                                    <h6>email</h6>
                                    <p>187075xxxx@qq.com</p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="icon">
                                    <i class="flaticon-placeholder"></i>
                                </div>
                                <div class="text">
                                    <h6>address</h6>
                                    <p>Western Road, Melbourne</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="content">
                        <div class="title">
                            <h5>useful links</h5>
                        </div>
                        <ul>
                            <li><a href="javascript:void(0)">policy privacy</a></li>
                            <li><a href="javascript:void(0)">site map</a></li>
                            <li><a href="javascript:void(0)">store location</a></li>
                            <li><a href="my-account.html">my account</a></li>
                            <li><a href="javascript:void(0)">orders traking</a></li>
                            <li><a href="javascript:void(0)">terms of service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer-bottom -->
    <section class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="border-area">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <p>Copyright 2022-2099, All Rights By <a
                                        href="#">MALL</a>.
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="payment">
                                    <ul class="d-flex justify-content-end">
                                        <li><a href="javascript:void(0)"><img src="assets/images/payment/visa.png"
                                                                              alt="Visa"/></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><img src="assets/images/payment/master.png"
                                                                              alt="Master"/></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><img src="assets/images/payment/paypal.png"
                                                                              alt="Paypal"/></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><img src="assets/images/payment/skrill.png"
                                                                              alt="Skrill"/></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><img src="assets/images/payment/maestro.png"
                                                                              alt="Maestro"/></a></li>
                                        <li><a href="javascript:void(0)"><img src="assets/images/payment/electron.png"
                                                                              alt="Electron"/></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

<!-- jquery -->
<script src="assets/plugins/jquery-3.4.1.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<!-- menu -->
<script src="assets/plugins/menu.min.js"></script>
<!-- swiper slider -->
<script src="assets/plugins/swiper-bundle.min.js"></script>
<!-- packery -->
<script src="assets/plugins/packery.pkgd.min.js"></script>
<!-- countdown -->
<script src="assets/plugins/jquery.countdown.min.js"></script>
<!-- venobox -->
<script src="assets/plugins/venobox.min.js"></script>
<!-- jquery ui -->
<script src="assets/plugins/jquery-ui.min.js"></script>
<!-- select -->
<script src="assets/plugins/select2.min.js"></script>
<!-- zoom -->
<script src="assets/plugins/jquery.elevateZoom-3.0.8.min.js"></script>
<!-- Google map -->
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>
<!-- script -->
<script src="assets/js/script.js"></script>

</body>

</html>