<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base href="http://124.222.56.141">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/index/css/GL.css">
    <script src="/static/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/index/js/swiper-3.4.2.min.js"></script>
</head>

<body>
<header>
    <div class="head">
        <!--商城顶部广告-->
        <a href="/static/#"><img src="/static/index/img/img_01.png"/></a>
        <p>X</p>
    </div>
    <!--头部-->
    <div class="header_head">
        <div class="header_head_box">
            <!--商城logo-->
            <a href="/static/#" class="img"><img src="/static/index/img/logo.jpg"/></a>
            <ul>
                <li th:if="${session.loginUser == null}">
                    <a href="http://localhost:8000/api/auth/login">你好，请登录</a>
                    <a href="http://localhost:8000/api/auth/register" class="li_2">免费注册</a>
                </li>
                <li th:if="${session.loginUser != null}">
                    <a>欢迎, [[${session.loginUser.nickname}]]</a>
                    <a href="http://localhost:8000/api/auth/login/logout">|&nbsp;&nbsp;退出</a>
                </li>
                <span>|</span>
                <li><a href="http://order.mall.com/api/order/listWithItem">我的订单</a></li>
            </ul>
        </div>
    </div>
    <!--搜索导航-->
    <div class="header_sous">
        <div class="header_form">
            <input id="searchText" type="text" placeholder=""/>
            <span style="background: url('http://124.222.56.141/static/index/img/img_12.png') 0 -1px;"></span>
            <a href="javascript:search()"><img src="/static/index/img/img_09.png" onclick="search()"/></a>
        </div>
        <div class="header_ico">
            <div class="header_gw">
                <img src="/static/index/img/img_15.png"/>
                <span><a href="http://localhost:88/api/cart/">我的购物车</a></span>
                <span>0</span>
            </div>
            <div class="header_ko"><p>购物车中还没有商品，赶紧选购吧！</p></div>
        </div>
        <nav>
            <ul>
                <li><a href="/static/#">秒杀</a></li>
                <li><a href="/static/#">优惠券</a></li>
                <li><a href="/static/#">闪购</a></li>
                <li><a href="/static/#">拍卖</a></li>
            </ul>
            <div class="spacer">|</div>
            <ul>
                <li><a href="/static/#">服饰</a></li>
                <li><a href="/static/#">超市</a></li>
                <li><a href="/static/#">生鲜</a></li>
                <li><a href="/static/#">全球购</a></li>
            </ul>
            <div class="spacer">|</div>
            <ul>
                <li><a href="/static/#">金融</a></li>
            </ul>
        </nav>
    </div>
    <!--轮播主体内容-->
    <div class="header_main">
        <div class="header_banner">
            <div class="header_main_left">
                <ul>
                    <li th:each="catalog : ${catalogs}">
                        <a href="http://localhost:88/api/search/" class="header_main_left_a"
                           th:attr="ctg-data=${catalog.catId}"><b th:text="${catalog.name}">家用电器</b></a>
                    </li>
                </ul>

            </div>
            <div class="header_main_center">
                <div class="swiper-container swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo.png"/></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo3.png"/></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo6.png"/></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/static/#"><img src="/static/index/img/lunbo7.png"/></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="header_main_center_b">
                    <a href="/static/#"><img src="/static/index/img/5a13bf0bNe1606e58.jpg"/></a>
                    <a href="/static/#"><img src="/static/index/img/5a154759N5385d5d6.jpg"/></a>
                </div>
            </div>
            <div class="header_main_right">
                <div class="header_main_right_user">
                    <div class="user_info">
                        <div class="user_info_tou">
                            <a href="/static/#"><img class="" src="/static/index/img/touxiang.png"></a>
                        </div>
                        <div class="user_info_show">
                            <p class="">Hi, 欢迎来到!</p>
                            <p th:if="${session.loginUser == null}">
                                <a href="http://localhost:8000/api/auth/login">登录</a>
                                <a href="http://localhost:8000/api/auth/register">注册</a>
                            </p>
                        </div>
                    </div>
                    <div class="user_info_hide">
                        <a href="/static/#">新人福利</a>
                        <a href="/static/#">PLUS会员</a>
                    </div>
                </div>
                <div class="header_main_right_new">
                    <div class="header_new">
                        <div class="header_new_t">
                            <p class="active">
                                <a href="/static/#">促销</a>
                            </p>
                            <p>
                                <a href="/static/#">公告</a>
                            </p>
                            <a href="/static/#">更多</a>
                        </div>
                        <div class="header_new_connter">
                            <div class="header_new_connter_1">
                                <ul>
                                    <li>
                                        <a href="/static/#">全民纸巾大作战</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">家具建材满999减300元</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">黑科技冰箱，下单立减千元</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">抢102减101神券！</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header_new_connter_1" style="display: none;">
                                <ul>
                                    <li>
                                        <a href="/static/#">关于召回普利司通（天津）轮胎有限公司2个规格乘用车轮胎的公告</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">物流推出配送员统一外呼电话"95056”</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">天府大件运营中心开仓公告</a>
                                    </li>
                                    <li>
                                        <a href="/static/#">大件物流“送装一体”服务全面升级！</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_main_right_ser">
                    <div class="ser_box">
                        <ul>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/huafei.png"/>
                                    <span>话费</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/jipiao.png"/>
                                    <span>机票</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/jiudian.png"/>
                                    <span>酒店</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="/static/#">
                                    <img src="/static/index/img/youxi.png"/>
                                    <span>游戏</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/qiyegou.png"/>
                                    <span>企业购</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/jiayouka.png"/>
                                    <span>加油卡</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/dianyingpiao.png"/>
                                    <span>电影票</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/huochepiao.png" style="height:20px;"/>
                                    <span>火车票</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/zhongchou.png"/>
                                    <span>众筹</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/licai.png" style="height:22px;"/>
                                    <span>理财</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/lipinka.png" style="height:14px;"/>
                                    <span>礼品卡</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="/static/#">
                                    <img src="/static/index/img/baitiao.png" style="height:20px;"/>
                                    <span>白条</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="section_second">
    <!-- 第一层 -->
    <div class="section_second_header">
        <p class="section_second_header_img"></p>
        <div class="section_second_header_left">
            <p></p>
            <span class="">秒杀</span>
            <span>总有你想不到的低价</span>
            <span>
        </span>
        </div>
        <div class="section_second_header_right">
            <p>当前场次</p>
            <span class="section_second_header_right_hours">00</span>
            <span class="section_second_header_right_mao">：</span>
            <span class="section_second_header_right_minutes">00</span>
            <span class="section_second_header_right_mao">：</span>
            <span class="section_second_header_right_second">00</span>
            <p>后结束</p>
        </div>
    </div>
    <div class="section_second_list">
        <div class="swiper-container swiper_section_second_list_left">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul id="seckillSkuContent">
                        <li th:each="item : ${items}" th:onclick="'toDetail('+${item.skuId}+')'" onclick="toDetail()">
                            <img th:src="${item.skuInfo.skuDefaultImg}" style="width: 130px; height: 130px" alt="">
                            <p th:text="${item.skuInfo.skuName}"></p>
                            <span th:text="${item.seckillPrice}">¥83.9</span>
                            <s th:text="${item.skuInfo.price}">¥99.9</s>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="section_second_list_right">
            <li><img src="/static/index/img/section_second_list_right_img.jpg" alt=""></li>
            <li><img src="/static/index/img/section_second_list_right_img.png" alt=""></li>
            <div class="section_second_list_right_button">
                <p class="section_second_list_right_button_active"></p>
            </div>
        </ul>
    </div>
</div>


</body>
<script type="text/javascript">
    function search() {
        var keyword = $("#searchText").val()
        window.location.href = "http://localhost:88/api/search/?keyword=" + keyword;
    }

    function toDetail(skuId) {
        location.href = "http://mall.com/api/product/item/" + skuId + ".html";
    }

</script>
<script type="text/javascript" src="/static/index/js/text.js"></script>
<script type="text/javascript" src="/static/index/js/header.js"></script>
<script type="text/javascript" src="/static/index/js/secend.js"></script>
<script type="text/javascript" src="/static/index/js/zz.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script type="text/javascript" src="/static/index/js/left,top.js"></script>
<script type="text/javascript" src="/static/index/js/catalogLoader.js"></script>
</html>
