<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8"/>
    <base href="http://124.222.56.141">
    <title>最家</title>
    <link rel="stylesheet" type="text/css" href="../static/mall/index/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/mall/index/css/index.css"/>
</head>

<body>
<!------------------------------head------------------------------>
<div class="head">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="http://localhost:88/api/product/"><img src="../static/mall/index/img/logo.png"/></a>
            </h1>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" id="searchText" placeholder="热门搜索：华为"/>
                    <input type="button" onclick="search()"/>
                </form>
                <p class="fl">
                    <span th:if="${session.loginUser == null}">
                        <a href="http://localhost:8000/api/auth/login">你好，请登录</a>
                        <a href="http://localhost:8000/api/auth/register">免费注册</a>
                    </span>
                    <span th:if="${session.loginUser != null}">
                        <a th:text="${session.loginUser.nickname}"></a>
                        <a href="http://localhost:8000/api/auth/login/logout">退出</a>
                        <a href="http://localhost:88/api/order/index/">我的订单</a>
                    </span>
                </p>
                <div class="btn fl clearfix">
                    <a href="http://localhost:88/api/auth/user/center"><img src="../static/mall/index/img/grzx.png"/></a>
                    <a href="http://localhost:88/api/cart/">
                        <img src="../static/mall/index/img/gwc.png"/>
                    </a>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott" style="margin-left: 30%;">
            <li><a href="http://localhost:88/api/product/">首页</a></li>
            <li>
                <a href="javascript:void(0)">所有商品</a>
                <div class="sList">
                    <div class="wrapper  clearfix">
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav1.jpg"/></dt>
                                <dd>电脑办公</dd>
                            </dl>
                        </a>
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav2.jpg"/></dt>
                                <dd>食品</dd>
                            </dl>
                        </a>
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav3.jpg"/></dt>
                                <dd>创意装饰</dd>
                            </dl>
                        </a>
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav6.jpg"/></dt>
                                <dd>美妆</dd>
                            </dl>
                        </a>
                        <a href="javascript:void(0)">
                            <dl>
                                <dt><img src="../static/mall/index/img/nav7.jpg"/></dt>
                                <dd>其他</dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)">秒杀</a>
            </li>
            <li>
                <a href="javascript:void(0)">金融</a>
            </li>
        </ul>
    </div>
</div>
<!-------------------------banner--------------------------->
<div class="block_home_slider">
    <div id="home_slider" class="flexslider">
        <ul class="slides">
            <li>
                <div class="slide">
                    <img src="../static/mall/index/img/banner2.jpg" style="height: 600px;"/>
                </div>
            </li>
            <li>
                <div class="slide">
                    <img src="../static/mall/index/img/banner1.jpg" style="height: 600px;"/>
                </div>
            </li>
        </ul>
    </div>
</div>

<!------------------------------news------------------------------>
<!------------------------------秒杀商品------------------------------>
<div class="news">
    <div class="wrapper">
        <h2><img src="../static/mall/index/img/ih1.jpg"/></h2>
        <div class="top clearfix">
            <a href="proDetail.html"><img src="../static/mall/index/img/n1.jpg"/>
                <p></p>
            </a>
            <a href="proDetail.html"><img src="../static/mall/index/img/n2.jpg"/>
                <p></p>
            </a>
            <a href="proDetail.html"><img src="../static/mall/index/img/n3.jpg"/>
                <p></p>
            </a>
        </div>
        <div class="bott clearfix">
            <a href="proDetail.html"><img src="../static/mall/index/img/n4.jpg"/>
                <p></p>
            </a>
            <a href="proDetail.html"><img src="../static/mall/index/img/n5.jpg"/>
                <p></p>
            </a>
            <a href="proDetail.html"><img src="../static/mall/index/img/n6.jpg"/>
                <p></p>
            </a>
        </div>
        <h2><img src="../static/mall/index/img/ih2.jpg"/></h2>
    </div>
</div>
<!------------------------------ad------------------------------>
<a href="#" class="ad"><img src="../static/mall/index/img/ib1.jpg"/></a>
<!------------------------------购物商品------------------------------>
<div class="people">
    <div class="wrapper">
        <h2><img src="../static/mall/index/img/ih3.jpg"/></h2>
        <div class="pList clearfix tran">
            <a th:each="product : ${products1}" th:onclick="'toDetail('+${product.skuId}+')'" onclick="toDetail()">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img th:src="${product.skuDefaultImg}" style="width: 268px; height: 268px;">
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${product.skuTitle}"></dd>
                    <dd><span th:text="'￥' + ${product.price}"></span></dd>
                </dl>
            </a>
        </div>
        <div class="pList clearfix tran">
            <a th:each="product : ${products2}" th:onclick="'toDetail('+${product.skuId}+')'" onclick="toDetail()">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img th:src="${product.skuDefaultImg}" style="width: 268px; height: 268px;">
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${product.skuTitle}"></dd>
                    <dd><span th:text="'￥' + ${product.price}"></span></dd>
                </dl>
            </a>
        </div>
        <div class="pList clearfix tran">
            <a th:each="product : ${products3}" th:onclick="'toDetail('+${product.skuId}+')'" onclick="toDetail()">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img th:src="${product.skuDefaultImg}" style="width: 268px; height: 268px;">
                        <span class="abr"></span>
                    </dt>
                    <dd th:text="${product.skuTitle}"></dd>
                    <dd><span th:text="'￥' + ${product.price}"></span></dd>
                </dl>
            </a>
        </div>
    </div>
</div>

<!--返回顶部-->
<div class="gotop">
    <a href="http://localhost:88/api/cart/">
        <dl>
            <dt><img src="../static/mall/index/img/gt1.png"/></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="javascript:void(0)" class="dh">
        <dl>
            <dt><img src="../static/mall/index/img/gt2.png"/></dt>
            <dd>联系<br/>客服</dd>
        </dl>
    </a>
    <a href="javascript:void(0)">
        <dl>
            <dt><img src="../static/mall/index/img/gt3.png"/></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a class="toptop" style="display: none">
        <dl>
            <dt><img src="../static/mall/index/img/gt4.png"/></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
    <p>400-800-8200</p>
</div>

<!-------------------footer-------------------------->
<!--footer-->
<div class="footer">
    <div class="top">
        <div class="wrapper">
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/index/img/foot1.png"/></a>
                <span class="fl">7天无理由退货</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/index/img/foot2.png"/></a>
                <span class="fl">15天免费换货</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/index/img/foot3.png"/></a>
                <span class="fl">满599包邮</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/index/img/foot4.png"/></a>
                <span class="fl">手机特色服务</span>
            </div>
        </div>
    </div>
    <p class="dibu">MALL&copy;2022-2099公司版权所有 京ICP备080100-44备0000111000号<br/>
        违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
</div>
</body>

<script src="../static/mall/index/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mall/index/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mall/index/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mall/index/js/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

    $(function () {
        $('#home_slider').flexslider({
            animation: 'slide',
            controlNav: true,
            directionNav: true,
            animationLoop: true,
            slideshow: true,
            slideshowSpeed: 2000,
            useCSS: false
        });
    });

    function toDetail(skuId) {
        location.href = "http://localhost:88/api/product/item/" + skuId + ".html";
    }

    function search() {
        const keyword = $("#searchText").val();
        window.location.href = "http://localhost:88/api/search/?keyword=" + keyword;
    }

</script>

</html>