<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base href="http://124.222.56.141">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>谷粒商城订单</title>
    <link rel="stylesheet" href="/static/order/list/css/index.css">
    <style media="screen">
        * {
            font-family: "微软雅黑";
        }
    </style>
</head>
<body>
<div id="nav">
    <nav>
        <div class="myjd">
            <h3>我的谷粒商城</h3>
            <button onclick="location.href='http://localhost:10000/'">返回谷粒商城首页</button>
        </div>
        <ul class="nav_ul">
            <li>首页</li>
            <li>消息</li>
        </ul>
        <div class="right">
            <div class="btn">
                <input type="text" placeholder="空调">
                <button>搜索</button>
            </div>
            <ul class="shop">
                <li><i class="shop_che"></i>我的购物车 >
                    <ol>
                        <li>
                            <img src="/static/order/list/img/shop.png" alt="">
                            <div>购物车中还没有商品，赶紧选购吧</div>
                            <div style="clear:both;"></div>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
        <div style="clear:both;"></div>
    </nav>
</div>
<div style="clear:both;"></div>
<div id="big">
    <div id="bigLeft">
        <ul></ul>
    </div>
    <div id="bigRight">
        <div class="myOrder">
            <p>我的订单</p>
        </div>
        <div class="allBig">
            <div class="allOrder">
                <ul class="allOrderTop">
                    <li>
                        <ol>
                            <li>全部订单</li>
                            <li>待付款</li>
                            <li>待收货</li>
                            <li>待评价</li>
                            <div style="clear:both;"></div>
                        </ol>
                    </li>
                    <li class="allOrderTopLastLi">
                        <div>
                            <input type="text" placeholder="商品名称/商品编号/订单号">
                            <button class="search"></button>
                        </div>
                    </li>
                    <div class="clear:both;"></div>
                </ul>

            </div>
            <div class="details">
                <ul class="detailsUl">
                    <div class="detailsUlDiv">
                        <li class="detailsLiok detailsLi">近三个月订单<i class="allBig_i"></i>
                            <ol>
                                <li>近三个月订单</li>
                                <li>今年内订单</li>
                                <li>今年内订单</li>
                                <li>2016年订单</li>
                                <li>2015年订单</li>
                                <li>2014年订单</li>
                                <li>2014年以前订单</li>
                            </ol>
                        </li>
                        <li class="detailsLi">订单详情</li>
                        <div style="clear:both;"></div>
                    </div>

                    <li class="detailsLi1">收货人</li>
                    <li class="detailsLi1">金额</li>
                    <li class="detailsLi1 detailsLiok">全部状态<i class="allBig_i"></i>
                        <ol>
                            <li>全部状态</li>
                            <li>等待付款</li>
                            <li>等待收货</li>
                            <li>已完成</li>
                            <li>已取消</li>
                        </ol>
                    </li>
                    <li class="detailsLi1">操作</li>
                    <div style="clear:both;"></div>
                </ul>
            </div>

            <table class="table" th:each="order:${orders}">
                <tr>
                    <td colspan="7" style="background:#F7F7F7">
                        <span style="color:#AAAAAA">[[${#dates.format(order.createTime,'dd/MMM/yyyy HH:mm')}]]</span>
                        <span><ruby style="color:#AAAAAA">订单号:</ruby> [[${order.orderSn}]]</span>
                        <span>谷粒商城<i class="table_i"></i></span>
                        <i class="table_i5 isShow"></i>
                    </td>
                </tr>
                <tr class="tr" th:each="orderItem:${order.items}">
                    <td colspan="3" style="border-right: 1px solid #ccc">
                        <img style="height: 60px; width: 60px;" th:src="${orderItem.skuPic}" alt="" class="img">
                        <div>
                            <p style="width: 242px; height: auto;overflow: auto">
                                [[${orderItem.title}]]
                            </p>
                            <div><i class="table_i4"></i>找搭配</div>
                        </div>
                        <div style="margin-left:15px;">x[[${orderItem.skuQuantity}]]</div>
                        <div style="clear:both"></div>
                    </td>
                    <td>[[${order.receiverName}]]</td>
                    <td style="padding-left:10px;color:#AAAAB1;">
                        <p style="margin-bottom:5px;">总额 ￥[[${#numbers.formatDecimal(order.payAmount,3,2)}]]</p>
                        <hr style="width:90%;">
                        <p>在线支付</p>
                    </td>
                    <td>
                        <ul>
                            <li style="color:#71B247;" th:if="${order.status==0}">待付款</li>
                            <li style="color:#71B247;" th:if="${order.status==1}">已付款</li>
                            <li style="color:#71B247;" th:if="${order.status==2}">已发货</li>
                            <li style="color:#71B247;" th:if="${order.status==3}">已完成</li>
                            <li style="color:#71B247;" th:if="${order.status==4}">已取消</li>
                            <li style="color:#71B247;" th:if="${order.status==5}">售后中</li>
                            <li style="color:#71B247;" th:if="${order.status==6}">售后完成</li>
                            <li style="margin:4px 0;" class="hide">
                            <li class="tdLi">订单详情</li>
                        </ul>
                    </td>
                    <td>
                        <button>确认收货</button>
                        <p style="margin:4px 0; ">取消订单</p>
                    </td>
                </tr>
            </table>
            <div class="order_btm">
                <div>
                    <button>上一页</button>
                    <span>1</span>
                    <button>下一页</button>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>

    </div>
    <div style="clear:both;"></div>
</div>

<div class="footer">
    <div class="top">
        <ul>
            <li class="item fore1">
                <i></i>
                品类齐全，轻松购物
            </li>
            <li class="item fore2">
                <i></i>
                多仓直发，极速配送
            </li>
            <li class="item fore3">
                <i></i>
                正品行货，精致服务
            </li>
            <li class="item fore4">
                <i></i>
                天天低价，畅选无忧
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
</div>
</body>
<script src="/static/order/list/js/jquery-3.1.1.min.js"></script>
<script src="/static/order/list/js/index.js"></script>
</html>