<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8"/>
    <base href="http://124.222.56.141">
    <title>搜索</title>
    <link rel="stylesheet" type="text/css" href="../static/mall/common/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/mall/search/css/search.css"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <!--search-->
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="index.html"><img src="../static/mall/common/img/logo.png"/></a></h1>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" id="searchText" placeholder="热门搜索：华为"/>
                    <input type="button" onclick="search()"/>
                </form>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="http://localhost:88/api/product/">首页</a></li>
            <li>
                <a href="#">所有商品</a>
                <div class="sList">
                    <div class="wrapper  clearfix">
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav1.jpg"/></dt>
                                <dd>电脑办公</dd>
                            </dl>
                        </a>
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav2.jpg"/></dt>
                                <dd>食品</dd>
                            </dl>
                        </a>
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav3.jpg"/></dt>
                                <dd>创意装饰</dd>
                            </dl>
                        </a>
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav6.jpg"/></dt>
                                <dd>美妆</dd>
                            </dl>
                        </a>
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav7.jpg"/></dt>
                                <dd>其他</dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="flowerDer.html">秒杀</a>
            </li>
            <li>
                <a href="decoration.html">金融</a>
            </li>
            <li><a href="paint.html">xxx</a></li>
            <li><a href="perfume.html">xxx</a></li>
            <li><a href="idea.html">xxx</a></li>
        </ul>
    </div>
</div>
<!------------------------------搜索列表------------------------------>
<div class="schBox">
    <ul class="wrapper sch">
        <li>
            <h4>分类</h4>
            <a th:each="cat : ${result.catalogs}"
               th:href="${'javascript:searchProducts(&quot;catId&quot;,' + cat.catalogId+')'}"
               th:text="${cat.catalogName}"></a>
        </li>
        <li>
            <h4>品牌</h4>
            <a th:each="brand : ${result.brands}"
               th:href="${'javascript:searchProducts(&quot;brandId&quot;,' + brand.brandId+')'}"
               th:text="${brand.brandName}"></a>
        </li>
        <li th:each="attr : ${result.attrs}">
            <h4 th:text="${attr.attrName}"></h4>
            <a th:each="value :${attr.attrValue}"
               th:href="${'javascript:searchProducts(&quot;attrs&quot;,&quot;' + attr.attrId+'_' + value +'&quot;)'}"
               th:text="${value}"></a>
        </li>
    </ul>
</div>
<!-------------------current---------------------->
<div class="current">
    <div class="wrapper clearfix">
        <h3 class="fl">搜索结果：</h3>
        <div class="fr choice">
            <p class="default">排序方式</p>
            <ul class="select">
                <li>新品上市</li>
                <li>销量从高到低</li>
                <li>销量从低到高</li>
                <li>价格从高到低</li>
                <li>价格从低到高</li>
            </ul>
        </div>
    </div>
</div>
<!----------------proList------------------------->
<ul class="proList wrapper clearfix">
    <li th:each="product : ${result.products}">
        <a th:href="|http://localhost:10001/api/product/item/${product.skuId}.html|">
            <dt><img th:src="${product.skuImg}"></dt>
            <dd th:text="${product.skuTitle}" style="text-align: center;"></dd>
            <dd th:text="'￥'+${product.skuPrice} " style="text-align: center; color: #ff0000; font-size: 15px;"></dd>
        </a>
    </li>
</ul>
<!----------------mask------------------->
<div class="mask"></div>
<!--返回顶部-->
<div class="gotop">
    <a href="cart.html">
        <dl class="goCart">
            <dt><img src="../static/mall/common/img/gt1.png"/></dt>
            <dd>去购<br/>物车</dd>
            <span>1</span>
        </dl>
    </a>
    <a href="#" class="dh">
        <dl>
            <dt><img src="../static/mall/common/img/gt2.png"/></dt>
            <dd>联系<br/>客服</dd>
        </dl>
    </a>
    <a href="mygxin.html">
        <dl>
            <dt><img src="../static/mall/common/img/gt3.png"/></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a class="toptop" style="display: none;">
        <dl>
            <dt><img src="../static/mall/common/img/gt4.png"/></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
    <p>400-800-8200</p>
</div>
<!--footer-->
<div class="footer">
    <div class="top">
        <div class="wrapper">
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/common/img/foot1.png"/></a>
                <span class="fl">7天无理由退货</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/common/img/foot2.png"/></a>
                <span class="fl">15天免费换货</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/common/img/foot3.png"/></a>
                <span class="fl">满599包邮</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/common/img/foot4.png"/></a>
                <span class="fl">手机特色服务</span>
            </div>
        </div>
    </div>
    <p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br/>
        违法和不良信息举报电话：188-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
</div>
</body>
<script src="../static/mall/common/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mall/common/js/public.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="../static/common/js/pro.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="js/cart.js" type="text/javascript" charset="utf-8"></script>-->
<script>

    // 从分类、品牌、属性中筛选商品
    function searchProducts(name, value) {
        //原來的页面
        location.href = replaceParamVal(location.href, name, value, true)
    }

    function search() {
        const keyword = $("#searchText").val();
        window.location.href = "http://localhost:88/api/search/?keyword=" + keyword;
    }

    function replaceParamVal(url, paramName, replaceVal, forceAdd) {
        var oUrl = url.toString();
        var nUrl;
        if (oUrl.indexOf(paramName) != -1) {
            if (forceAdd) {
                if (oUrl.indexOf("?") != -1) {
                    nUrl = oUrl + "&" + paramName + "=" + replaceVal;
                } else {
                    nUrl = oUrl + "?" + paramName + "=" + replaceVal;
                }
            } else {
                var re = eval('/(' + paramName + '=)([^&]*)/gi');
                nUrl = oUrl.replace(re, paramName + '=' + replaceVal);
            }
        } else {
            if (oUrl.indexOf("?") != -1) {
                nUrl = oUrl + "&" + paramName + "=" + replaceVal;
            } else {
                nUrl = oUrl + "?" + paramName + "=" + replaceVal;
            }
        }
        return nUrl;
    };


    /************商品筛选***************/
    $(".choice .default").click(function () {
        $(this).siblings("ul").toggle();
        $(this).toggleClass("on");
    });
    $(".choice .select li").click(function () {
        var txt = $(this).text();
        $(".choice .default").text(txt).removeClass("on");
        $(this).parent("ul").slideUp('fast');
    });

</script>
</html>
