<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <base href="http://124.222.56.141">
    <title>cart</title>
    <link rel="stylesheet" type="text/css" href="../static/mall/common/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/mall/cart/css/cart.css"/>
</head>
<body>
<!--------------------------------------cart--------------------->
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="index.html"><img src="../static/mall/common/img/logo.png"/></a></h1>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索"/>
                    <input type="button"/>
                </form>
                <div class="btn fl clearfix">
                    <a href="mygxin.html"><img src="../static/mall/common/img/grzx.png"/></a>
                    <a href="#" class="er1"><img src="../static/mall/common/img/ewm.png"/></a>
                    <a href="cart.html"><img src="../static/mall/common/img/gwc.png"/></a>
                    <p><a href="#"><img src="../static/mall/common/img/smewm.png"/></a></p>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="http://localhost:88/api/product/">首页</a></li>
            <li>
                <a href="#">所有商品</a>
                <div class="sList">
                    <div class="wrapper  clearfix">
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav1.jpg"/></dt>
                                <dd>电脑办公</dd>
                            </dl>
                        </a>
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav2.jpg"/></dt>
                                <dd>xx食品</dd>
                            </dl>
                        </a>
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav3.jpg"/></dt>
                                <dd>创意装饰</dd>
                            </dl>
                        </a>
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav6.jpg"/></dt>
                                <dd>xx美妆</dd>
                            </dl>
                        </a>
                        <a href="paint.html">
                            <dl>
                                <dt><img src="../static/mall/common/img/nav7.jpg"/></dt>
                                <dd>xx其他</dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="flowerDer.html">精品秒杀</a>
            </li>
            <li>
                <a href="decoration.html">MALL金融</a>
            </li>
        </ul>
    </div>
</div>
<div class="cart mt">
    <!-----------------site------------------->
    <div class="site">
        <p class=" wrapper clearfix">
            <span class="fl">购物车</span>
            <img class="top" src="../static/mall/common/img/temp/cartTop01.png">
            <a href="index.html" class="fr">继续购物&gt;</a>
        </p>
    </div>
    <!-----------------table------------------->
    <div class="table wrapper">
        <div class="tr">
            <div>商品</div>
            <div>单价</div>
            <div>数量</div>
            <div>小计</div>
            <div>操作</div>
        </div>

        <div class="th" th:each="item:${cart.items}">
            <div class="pro clearfix">
                <label class="fl">
                    <input type="checkbox" class="itemChecked" th:checked="${item.check}"
                           th:attr="skuId=${item.skuId}"/>
                    <span></span>
                </label>
                <a class="fl" href="#">
                    <dl class="clearfix">
                        <dt class="fl">
                            <img style="width: 110px;height: 110px;" th:src="${item.image}">
                        </dt>
                        <dd class="fl" style="margin-top: 40px;">
                            <p th:text="${item.title}"></p>
                        </dd>
                    </dl>
                </a>
            </div>
            <div class="price" th:text="'￥' + ${item.price}"></div>
            <div class="number">
                <p class="num clearfix">
                    <img class="fl sub" src="../static/mall/common/img/temp/sub.jpg">
                    <span class="fl" th:text="${item.count}">1</span>
                    <img class="fl add" src="../static/mall/common/img/temp/add.jpg">
                </p>
            </div>
            <div class="price sAll" th:text="${item.totalPrice}">￥20.00</div>
            <div class="price"><a class="del" href="javascript:void(0)">删除</a></div>
        </div>

        <div class="goOn">空空如也~<a href="index.html">去逛逛</a></div>
        <div class="tr clearfix">
            <label class="fl">
                <input class="checkAll" type="checkbox"/>
                <span></span>
            </label>
            <p class="fl">
                <a href="javascript:void(0)">全选</a>
                <a class="del" href="javascript:void(0)">删除</a>
            </p>
            <p class="fr">
                <span>共<small id="sl">0</small>件商品</span>
                <span>合计:&nbsp;<small id="all">￥0.00</small></span>
                <a class="count" href="javascript:void(0)" onclick="toTrade()">结算</a>
            </p>
        </div>
    </div>
</div>
<div class="mask"></div>
<div class="tipDel">
    <p>确定要删除该商品吗？</p>
    <p class="clearfix">
        <a class="fl cer" href="javascript:void(0)">确定</a>
        <a class="fr cancel" href="javascript:void(0)">取消</a>
    </p>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="cart.html">
        <dl>
            <dt><img src="../static/mall/common/img/gt1.png"/></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="#" class="dh">
        <dl>
            <dt><img src="../static/mall/common/img/gt2.png"/></dt>
            <dd>联系<br/>客服</dd>
        </dl>
    </a>
    <a href="mygxin.html">
        <dl>
            <dt><img src="../static/mall/common/img/gt3.png"/></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a class="toptop" style="display: none;">
        <dl>
            <dt><img src="../static/mall/common/img/gt4.png"/></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
    <p>400-800-8200</p>
</div>
<!--footer-->
<div class="footer">
    <div class="top">
        <div class="wrapper">
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/common/img/foot1.png"/></a>
                <span class="fl">7天无理由退货</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/common/img/foot2.png"/></a>
                <span class="fl">15天免费换货</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/common/img/foot3.png"/></a>
                <span class="fl">满599包邮</span>
            </div>
            <div class="clearfix">
                <a href="#2" class="fl"><img src="../static/mall/common/img/foot4.png"/></a>
                <span class="fl">手机特色服务</span>
            </div>
        </div>
    </div>
    <p class="dibu">最家家居&copy;2022-2099公司版权所有 京ICP备080100-44备0000111000号<br/>
        违法和不良信息举报电话：188-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
</div>
<!----------------mask------------------->
<div class="mask"></div>
<!-------------------mask内容------------------->
<div class="proDets">
    <img class="off" src="../static/mall/common/img/temp/off.jpg"/>
    <div class="proCon clearfix">
        <div class="proImg fr">
            <img class="list" src="../static/mall/common/img/temp/proDet.jpg"/>
            <div class="smallImg clearfix">
                <img src="../static/mall/common/img/temp/proDet01.jpg"
                     data-src="../static/mall/common/img/temp/proDet01_big.jpg">
                <img src="../static/mall/common/img/temp/proDet02.jpg"
                     data-src="../static/mall/common/img/temp/proDet02_big.jpg">
                <img src="../static/mall/common/img/temp/proDet03.jpg"
                     data-src="../static/mall/common/img/temp/proDet03_big.jpg">
                <img src="../static/mall/common/img/temp/proDet04.jpg"
                     data-src="../static/mall/common/img/temp/proDet04_big.jpg">
            </div>
        </div>
        <div class="fl">
            <div class="proIntro change">
                <p>颜色分类</p>
                <div class="smallImg clearfix">
                    <p class="fl on"><img src="../static/mall/common/img/temp/prosmall01.jpg" alt="白瓷花瓶+20支快乐花"
                                          data-src="../static/mall/common/img/temp/proBig01.jpg"></p>
                    <p class="fl"><img src="../static/mall/common/img/temp/prosmall02.jpg" alt="白瓷花瓶+20支兔尾巴草"
                                       data-src="../static/mall/common/img/temp/proBig02.jpg"></p>
                    <p class="fl"><img src="../static/mall/common/img/temp/prosmall03.jpg" alt="20支快乐花"
                                       data-src="../static/mall/common/img/temp/proBig03.jpg"></p>
                    <p class="fl"><img src="../static/mall/common/img/temp/prosmall04.jpg" alt="20支兔尾巴草"
                                       data-src="../static/mall/common/img/temp/proBig04.jpg"></p>
                </div>
            </div>
            <div class="changeBtn clearfix">
                <a href="#2" class="fl"><p class="buy">确认</p></a>
                <a href="#2" class="fr"><p class="cart">取消</p></a>
            </div>
        </div>
    </div>
</div>
<div class="pleaseC">
    <p>请选择宝贝</p>
    <img class="off" src="../static/mall/common/img/temp/off.jpg"/>
</div>
</body>
<script src="../static/mall/common/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mall/common/js/public.js" type="text/javascript" charset="utf-8"></script>
<!-- <script src="js/pro.js" type="text/javascript" charset="utf-8"></script> -->
<!-- <script src="js/cart.js" type="text/javascript" charset="utf-8"></script> -->
<script>
    // 数量加减
    $(".num .sub").click(function () {
        var num = parseInt($(this).siblings("span").text());
        if (num <= 1) {
            $(this).attr("disabled", "disabled");
        } else {
            num--;
            $(this).siblings("span").text(num);
            //获取除了货币符号以外的数字
            var price = $(this).parents(".number").prev().text().substring(1);
            //单价和数量相乘并保留两位小数
            $(this).parents(".th").find(".sAll").text('￥' + (num * price).toFixed(2));
            jisuan();
            zg();
        }
    });
    $(".num .add").click(function () {
        var num = parseInt($(this).siblings("span").text());
        if (num >= 5) {
            confirm("限购5件");
        } else {
            num++;
            $(this).siblings("span").text(num);
            var price = $(this).parents(".number").prev().text().substring(1);
            $(this).parents(".th").find(".sAll").text('￥' + (num * price).toFixed(2));
            jisuan();
            zg();
        }
    });

    //计算总价
    function jisuan() {
        var all = 0;
        var len = $(".th input[type='checkbox']:checked").length;
        if (len === 0) {
            $("#all").text('￥' + parseFloat(0).toFixed(2));
        } else {
            $(".th input[type='checkbox']:checked").each(function () {
                //获取小计里的数值
                var sAll = $(this).parents(".pro").siblings('.sAll').text();
                //累加
                all += parseFloat(sAll);
                //赋值
                $("#all").text('￥' + all.toFixed(3));
            })
        }
    }

    //计算总共几件商品
    function zg() {
        var zsl = 0;
        var index = $(".th input[type='checkbox']:checked").parents(".th").find(".num span");
        var len = index.length;
        if (len === 0) {
            $("#sl").text(0);
        } else {
            index.each(function () {
                zsl += parseInt($(this).text());
                $("#sl").text(zsl);
            })
        }
        if ($("#sl").text() > 0) {
            $(".count").css("background", "#c10000");
        } else {
            $(".count").css("background", "#8e8e8e");
        }
    }

    // 商品全选
    $("input[type='checkbox']").on('click', function () {
        var sf = $(this).is(":checked");
        var sc = $(this).hasClass("checkAll");
        if (sf) {
            if (sc) {
                $("input[type='checkbox']").each(function () {
                    this.checked = true;
                });
                zg();
                jisuan();
            } else {
                $(this).checked = true;
                var len = $("input[type='checkbox']:checked").length;
                var len1 = $("input").length - 1;
                if (len == len1) {
                    $("input[type='checkbox']").each(function () {
                        this.checked = true;
                    });
                }
                zg();
                jisuan();
            }

        } else {
            if (sc) {
                $("input[type='checkbox']").each(function () {
                    this.checked = false;
                });
                zg();
                jisuan();
            } else {
                $(this).checked = false;
                var len = $(".th input[type='checkbox']:checked").length;
                var len1 = $("input").length - 1;
                if (len < len1) {
                    $('.checkAll').attr("checked", false);
                }
                zg();
                jisuan();
            }
        }

    });
    $(".itemChecked").click(function () {
        const skuId = $(this).attr("skuId");
        const checked = !!$(this).prop("checked");
        let data = {
            skuId: skuId,
            checked: checked
        };
        $.ajax({
            type: 'POST',
            datatype: 'json',
            url: 'http://localhost:88/api/cart/item/checkItem',
            contentType: "application/json",
            data: JSON.stringify(data)
        });
    });

    // 删除购物车商品
    $('.del').click(function () {
        //单个删除
        if ($(this).parent().parent().hasClass("th")) {
            $(".mask").show();
            $(".tipDel").show();
            index = $(this).parents(".th").index() - 1;
            $('.cer').click(function () {
                $(".mask").hide();
                $(".tipDel").hide();
                $(".th").eq(index).remove();
                $('.cer').off('click');
                if ($(".th").length === 0) {
                    $(".table .goOn").show();
                }
            })
        } else {
            //选中多个一起删除
            if ($(".th input[type='checkbox']:checked").length === 0) {
                $(".mask").show();
                $(".pleaseC").show();
            } else {
                $(".mask").show();
                $(".tipDel").show();
                $('.cer').click(function () {
                    $(".th input[type='checkbox']:checked").each(function (j) {
                        index = $(this).parents('.th').index() - 1;
                        $(".th").eq(index).remove();
                        if ($(".th").length === 0) {
                            $(".table .goOn").show();
                        }
                    })
                    $(".mask").hide();
                    $(".tipDel").hide();
                    zg();
                    jisuan();
                })
            }
        }
    })

    $('.cancel').click(function () {
        $(".mask").hide();
        $(".tipDel").hide();
    })

    $('.off').click(function () {
        $(".pleaseC").hide();
        $(".mask").hide();
    })

    function toTrade() {
        window.location.href = "http://localhost:88/api/order/index/settlement";
    }

</script>
</html>
