<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <base href="http://124.222.56.141">
    <title>地址管理</title>
    <link rel="stylesheet" type="text/css" href="../static/mall/common/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/mall/auth/css/address.css"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl">
                <a href="http://localhost:88/api/product/">
                    <img src="../static/mall/common/img/logo.png"/>
                </a>
            </h1>
            <div class="fr clearfix" id="top1">
                <form method="get" class="fl">
                    <input type="text" id="searchText" placeholder="搜索"/>
                    <input type="button" onclick="search()"/>
                </form>
            </div>
        </div>
        <ul class="clearfix" id="bott" style="margin-left: 30%;">
            <li><a href="http://localhost:88/api/product/">首页</a></li>
            <li>
                <a href="javascript:void(0)">所有商品</a>
            </li>
            <li>
                <a href="javascript:void(0)">秒杀</a>
            </li>
            <li>
                <a href="javascript:void(0)">金融</a>
            </li>
        </ul>
    </div>
</div>
<!------------------------------idea------------------------------>
<div class="address mt">
    <div class="wrapper clearfix">
        <a href="index.html" class="fl">首页</a>
        <span>/</span>
        <a href="javascript:void(0)">个人中心</a>
        <span>/</span>
        <a href="javascript:void(0)" class="on">地址管理</a>
    </div>
</div>
<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl">
            <h3>
                <a href="#"><img src="../static/mall/common/img/tx.png"/></a>
                <p class="clearfix"><span class="fl" th:text="${session.loginUser.nickname}"></span>
                    <span class="fr"><a href="http://localhost:8000/api/auth/login/logout">退出登录</a></span></p>
            </h3>
            <div>
                <h4>我的交易</h4>
                <ul>
                    <li><a href="http://localhost:88/api/cart/">我的购物车</a></li>
                    <li><a href="http://localhost:88/api/order/index/">我的订单</a></li>
                    <li><a href="javascript:void(0)">评价晒单</a></li>
                </ul>
                <h4>个人中心</h4>
                <ul>
                    <li><a href="javascript:void(0)">我的中心</a></li>
                    <li class="on"><a href="http://localhost:88/api/auth/user/address">地址管理</a></li>
                </ul>
                <h4>账户管理</h4>
                <ul>
                    <li><a href="http://localhost:88/api/auth/user/center">个人信息</a></li>
                    <li><a href="javascript:void(0)">修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="you fl">
            <h2>收货地址</h2>
            <div class="add">
                <div>
                    <a id="addxad"><img src="../static/mall/common/img/jia.png"/></a>
                    <span style="margin-left: 39%;">添加新地址</span>
                </div>
                <div class="dizhi" th:each="address:${addresses}">
                    <p style="margin-top: 10%;font-size:18px; color: black" th:text="${address.name}"></p>
                    <p style="margin-top: 5%; color: black" th:text="${address.phone}"></p>
                    <p style="color: black">[[${address.province}]] [[${address.city}]] [[${address.region}]]
                        [[${address.detailAddress}]]</p>
                    <p style="color: black" th:text="'邮政编码：'+${address.postCode}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--编辑弹框-->
<!--遮罩-->
<div class="mask"></div>
<div class="adddz">
    <form action="#" method="get">
        <input type="text" placeholder="姓名" class="on"/>
        <input type="text" placeholder="手机号"/>
        <div class="city">
            <select name="">
                <option value="省份/自治区">省份/自治区</option>
            </select>
            <select>
                <option value="城市/地区">城市/地区</option>
            </select>
            <select>
                <option value="区/县">区/县</option>
            </select>
            <select>
                <option value="配送区域">配送区域</option>
            </select>
        </div>
        <textarea name="" rows="" cols="" placeholder="详细地址"></textarea>
        <input type="text" placeholder="邮政编码"/>
        <div class="bc">
            <input type="button" value="保存" onclick="save()"/>
            <input type="button" value="取消" onclick="cancel()"/>
        </div>
    </form>
</div>
<div class="readd">
    <form action="#" method="get">
        <input type="text" class="on" value="六六六"/>
        <input type="text" value="157****0022"/>
        <div class="city">
            <select name="">
                <option value="省份/自治区">河北省</option>
            </select>
            <select>
                <option value="城市/地区">唐山市</option>
            </select>
            <select>
                <option value="区/县">路北区</option>
            </select>
            <select>
                <option value="配送区域">火炬路</option>
            </select>
        </div>
        <textarea name="" rows="" cols="" placeholder="详细地址">高新产业园</textarea>
        <input type="text" placeholder="邮政编码" value="063000"/>
        <div class="bc">
            <input type="button" value="保存" onclick="save()"/>
            <input type="button" value="取消" onclick="cancel()"/>
        </div>
    </form>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="http://localhost:88/api/cart/">
        <dl>
            <dt><img src="../static/mall/index/img/gt1.png"/></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="javascript:void(0)" class="dh">
        <dl>
            <dt><img src="../static/mall/index/img/gt2.png"/></dt>
            <dd>联系<br/>客服</dd>
        </dl>
    </a>
    <a href="javascript:void(0)">
        <dl>
            <dt><img src="../static/mall/index/img/gt3.png"/></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a class="toptop" style="display: none">
        <dl>
            <dt><img src="../static/mall/index/img/gt4.png"/></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
    <p>400-800-8200</p>
</div>

<!--footer-->
<div class="footer">
    <div class="top">
        <div class="wrapper">
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/common/img/foot1.png"/></a>
                <span class="fl">7天无理由退货</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/common/img/foot2.png"/></a>
                <span class="fl">15天免费换货</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/common/img/foot3.png"/></a>
                <span class="fl">满599包邮</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/common/img/foot4.png"/></a>
                <span class="fl">手机特色服务</span>
            </div>
        </div>
    </div>
    <p class="dibu">最家家居&copy;2022-2099公司版权所有 京ICP备080100-44备0000111000号<br/>
        违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
</div>
</body>
<script src="../static/mall/common/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mall/common/js/public.js" type="text/javascript" charset="utf-8"></script>
<script>

    function search() {
        const keyword = $("#searchText").val();
        window.location.href = "http://localhost:88/api/search/?keyword=" + keyword;
    }

    // 添加地址
    $("#addxad").click(function () {
        $(".mask").show();
        $(".adddz").show();
    });

    function cancel() {
        $(".mask").hide();
        $(".adddz").hide();
    }


</script>
</html>
