<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2887659_bk0q7j8ipur.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <script th:src="@{/js/jQuery/jquery-3.6.0.js}"></script>
    <script th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/lib/validate/localization/messages_zh.min.js}"></script>
    <script th:src="@{/js/ajax.js}"></script>
    <script th:src="@{/js/cookie.js}"></script>

    <title>登录页面</title>
</head>

<body>
<div class="head">
    <div class="head-pc">
        <div class="head-left">
            <img th:src="@{/reg-imgs/jd-logo.png}">
            <span>欢迎登录</span>
        </div>
    </div>
</div>
</div>
<div class="main">
    <div class="main-pc">
        <div class="head-form">
            <div class="form-login">
                <div class="form-left">扫码登录</div>
                <div class="form-right">账户登录</div>
            </div>
            <div class="form-sm" style="width: 100%;height: 300px;">
                <img th:src="@{/reg-imgs/erweima.png}" alt="">
            </div>
            <div class="form-box">
                <form action="" class="form-main">
                    <div class="form-input" id="username-input">
                        <label><i class="iconfont icon-touxiang"></i></label>
                        <input type="text" placeholder="邮箱/用户名/登录手机" class="head-input" id="username" name="username">
                    </div>
                    <div class="form-input" id="password-input">
                        <label><i class="iconfont icon-suoding"></i></label>
                        <input type="text" placeholder="请输入密码" class="head-input" id="password" name="password">
                    </div>
                    <div class="form-input-btn">
                        <button type="button" class="head-btn" onclick="submitForm()">立&nbsp; 即&nbsp; 登&nbsp; 录</button>
                    </div>
                </form>
            </div>
            <div class="coagent" style="width: 100%;height: 45px;">
                <ul>
                    <li>QQ<span class="footer-ge">|</span></li>
                    <li>微信</li>
                    <li id="rBtn" class="coagent-right">>立即注册</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $('.form-left').click(function () {
        $(this).addClass('form-active1').siblings().removeClass('form-active1')
        if ($('.form-sm').css('display') == 'none') {
            $('.form-sm').css('display', 'block');
            $('.form-box').css('display', 'none');
        }
    })
    $('.form-right').click(function () {
        $(this).addClass('form-active1').siblings().removeClass('form-active1')
        if ($('.form-box').css('display') == 'none') {
            $('.form-box').css('display', 'block');
            $('.form-sm').css('display', 'none');
        }
    })
</script>

<div class="form-footer">
    <div class="footer-pc">
        <div class="footer-links">
            <a>关于我们</a><span class="footer-ge">|</span>
            <a>联系我们</a><span class="footer-ge">|</span>
            <a>人才招聘</a><span class="footer-ge">|</span>
            <a>商家入驻</a><span class="footer-ge">|</span>
            <a>广告服务</a><span class="footer-ge">|</span>
            <a>手机京东</a><span class="footer-ge">|</span>
            <a>友情链接</a><span class="footer-ge">|</span>
            <a>销售联盟</a><span class="footer-ge">|</span>
            <a>京东社区</a><span class="footer-ge">|</span>
            <a>京东公益</a><span class="footer-ge">|</span>
            <a>Engish Site</a>
        </div>
        <div class="links">
            <a>Copyrightc2004-2022京东JD.com 版权所有</a>
        </div>
    </div>
</div>
</body>

<!--<script th:src="@{/js/login.js}">-->
<script>
    var register = document.querySelector('#rBtn');
    window.onload = function () {
        register.onclick = function () {
            location.href = "http://localhost:8000/api/auth/register"
        }
    }

    function submitForm() {
        let user = {
            username: '',
            password: ''
        };
        user.username = document.getElementById('username').value;
        user.password = document.getElementById('password').value;
        if (user.username === "")
            alert("请输入用户名");
        if (user.password === "")
            alert("请输入密码");

        $.ajax({
            type: 'POST',
            datatype: 'json',
            url: 'http://localhost:8000/api/auth/login/doLogin',
            contentType: "application/json",
            data: JSON.stringify(user),
            success: function (data) {
                alert("success:" + data);
                window.location.href = "http://localhost:88/api/auth/login";
            },
            error: function (data) {
                alert(data + "服务器异常!");
            }
        });
    }
</script>
</html>
