<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <base href="http://124.222.56.141">
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="../static/mall/common/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/mall/auth/css/mygrxx.css"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl">
                <a href="http://localhost:88/api/product/">
                    <img src="../static/mall/common/img/logo.png"/>
                </a>
            </h1>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" id="searchText" placeholder="搜索"/>
                    <input type="button" onclick="search()"/>
                </form>
            </div>
        </div>
        <ul class="clearfix" id="bott" style="margin-left: 30%;">
            <li><a href="http://localhost:88/api/product/">首页</a></li>
            <li>
                <a href="javascript:void(0)">所有商品</a>
            </li>
            <li>
                <a href="javascript:void(0)">秒杀</a>
            </li>
            <li>
                <a href="javascript:void(0)">金融</a>
            </li>
        </ul>
    </div>
</div>
<!------------------------------idea------------------------------>
<div class="address mt">
    <div class="wrapper clearfix">
        <a href="http://localhost:88/api/product/" class="fl">首页</a>
        <span>/</span>
        <a href="javascript:void(0)" class="on">个人信息</a>
    </div>
</div>

<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl">
            <h3>
                <a href="#"><img src="../static/mall/common/img/tx.png"/></a>
                <p class="clearfix"><span class="fl" th:text="${session.loginUser.nickname}"></span>
                    <span class="fr"><a href="http://localhost:8000/api/auth/login/logout">退出登录</a></span></p>
            </h3>
            <div>
                <h4>我的交易</h4>
                <ul>
                    <li><a href="http://localhost:88/api/cart/">我的购物车</a></li>
                    <li><a href="http://localhost:88/api/order/index/">我的订单</a></li>
                    <li><a href="javascript:void(0)">评价晒单</a></li>
                </ul>
                <h4>个人中心</h4>
                <ul>
                    <li><a href="javascript:void(0)">我的中心</a></li>
                    <li><a href="http://localhost:88/api/auth/user/address">地址管理</a></li>
                </ul>
                <h4>账户管理</h4>
                <ul>
                    <li><a href="http://localhost:88/api/auth/user/address">个人信息</a></li>
                    <li class="on"><a href="http://localhost:88/api/auth/user/repassword">修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="you fl">
            <h2>修改密码</h2>
            <form class="remima">
                <p><span>选择验证身份方式：</span><input type="checkbox"/>密码验证 <input type="checkbox"/>邮箱验证 </p>
                <p><span>原密码：</span><input type="text" id="oldPassword"/></p>
                <p class="op">输入原密码</p>
                <p><span>新密码：</span><input type="text"/></p>
                <p class="op">6-16 个字符，需使用字母、数字或符号组合，不能使用纯数字、纯字母、纯符号</p>
                <p><span>重复新密码：</span><input type="text" id="newPassword"/></p>
                <p class="op">请再次输入密码</p>
                <p><span>验证码：</span><input type="text" id="confirmPassword"/><img
                        src="../static/mall/common/img/temp/code.jpg" alt=""/></p>
                <p class="op">按右图输入验证码，不区分大小写</p>
                <input th:value="${session.loginUser.id}" id="memberId" hidden/>
                <input type="submit" onclick="submitForm()" value="提交"/>
            </form>
        </div>
    </div>
</div>

<!--返回顶部-->
<div class="gotop">
    <a href="http://localhost:88/api/cart/">
        <dl>
            <dt><img src="../static/mall/index/img/gt1.png"/></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="javascript:void(0)" class="dh">
        <dl>
            <dt><img src="../static/mall/index/img/gt2.png"/></dt>
            <dd>联系<br/>客服</dd>
        </dl>
    </a>
    <a href="javascript:void(0)">
        <dl>
            <dt><img src="../static/mall/index/img/gt3.png"/></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a class="toptop" style="display: none">
        <dl>
            <dt><img src="../static/mall/index/img/gt4.png"/></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
    <p>400-800-8200</p>
</div>
<!--footer-->
<div class="footer">
    <div class="top">
        <div class="wrapper">
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/common/img/foot1.png"/></a>
                <span class="fl">7天无理由退货</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/common/img/foot2.png"/></a>
                <span class="fl">15天免费换货</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/common/img/foot3.png"/></a>
                <span class="fl">满599包邮</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="../static/mall/common/img/foot4.png"/></a>
                <span class="fl">手机特色服务</span>
            </div>
        </div>
    </div>
    <p class="dibu">最家家居&copy;2022-2099公司版权所有 京ICP备080100-44备0000111000号<br/>
        违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
</div>
</body>
<script src="../static/mall/common/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    function submitForm() {
        const oldPwd = document.getElementById("oldPassword").value;
        const newPwd = document.getElementById("newPassword").value;
        const memberId = document.getElementById("memberId").value;

        let user = {
            memberId: memberId,
            oldPassword: oldPwd,
            newPassword: newPwd
        }

        $.ajax({
            type: 'POST',
            datatype: 'json',
            url: 'http://localhost:88/api/auth/user/doRepassword',
            contentType: "application/json",
            data: JSON.stringify(user),
            success: function (data) {
                alert(data);
            },
            error: function (data) {
                alert(data + "服务器异常!");
            }
        });
    }
</script>
</html>


